 header {
       
        width: 100;
        margin-left: auto;
        margin-right: auto;
    }

 main {
        align-items: center;
        width: 52%;
        margin-left: auto;
        margin-right: auto;
    }

img {
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

#intes {
    color: green;
        font-weight: 900;
        border-top: 2px solid orange;
        height: max-content;
        background-color: blanchedalmond;
        text-align: center;
        padding-bottom: 25px;

}

#intes::before {content: "part of ";
    font-weight: lighter;
    border-top: 2px solid orange;
    height: max-content;
    background-color: blanchedalmond;
    text-align: center;
    padding-bottom: 25px;
}

h1 {
    
    text-align: center;
    
}

#desc { 
    
    font-size: 1rem;
}

#pieimg {

    text-align: center;
    color: gray;
}

#featured {
margin-bottom: 1px;
color: red;

}

#fresh {
    text-decoration: underline;
    margin-top: 1px;
    color: rgb(46, 224, 201);
}

#style-1 {

    border-left: 2px solid orange;
    padding-left: 8px;
}

#pizza {
    
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.intest {
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 2px solid rgb(46, 224, 201);
}

.lab {
    font-size: 1.2rem;
    font-weight: bold;
}

#list{

    font-size: 1.2rem;
    font-weight: bold;
}

#foot::after { content: " Simply recipe";
    color: green;
    text-decoration: underline;


}